.pagination {
   display: flex;
   justify-content: center;
   padding: 30px 0;

   .pagination__list {
      display: flex;
      padding: 0 35px;
   }

   &__item {
      padding: 0 15px;
   }

   &__link {

      &:focus {
         @include red-focus;
      }
   }

   &__link--active {
      color: $accent;
   }

   &__arrows {
      text-transform: uppercase;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         width: 5px;
         height: 10px;
         top: 5px;
      }

      &:focus {
         @include red-focus;
      }
   }

   &__prev {
      padding-left: 15px;

      &::before {
         background-image: url('../images/icons/arrow_left.svg');
         left: 0;
      }
   }

   &__next {
      padding-right: 15px;

      &::before {
         background-image: url('../images/icons/arrow_right.svg');
         right: 0;
      }
   }
}

@media(max-width: 450px) {
   .pagination {
      &__arrows {
         display: none;
      }
   }

}