.page-404{
    padding-bottom: 110px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        max-width: 570px;
        width: 100%;
    }
    &__title{
        color: $title;
        margin-bottom: 40px;
        @extend %roboto-700;
        font-size: 48px;
    }
    &__text{
        margin-bottom: 55px;
        max-width: 470px;
        @extend %quicksand-500; 
    }
    &__link{
        background-color: $accent;
        text-transform: uppercase;
        box-shadow: 0px 5px 25px 0px rgba(254, 62, 87, 0.35);
        color: #fff;
        padding: 14px 35px;
        @extend %roboto-400;
    }
}