

.blog-one{
    &__text{
        border: 1px solid #ececec;
        border-top: none;
        padding: 30px;
        margin-top: -1px;
        h4{
            color: $title;
            font-size: 22px;
            @extend %roboto-700;
            margin: 25px 0;
        }
        p{
            margin: 25px 0;
        }
        blockquote{
            background-color: $bg;
            border-left: 3px solid $accent;
            color: $title;
            @extend %roboto-400;
            font-size: 22px;
            margin: 25px 0;
            padding: 35px;
        }
    }
    &__left-img{
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    &__right-img{
        float: right;
        margin-left: 30px;
        margin-bottom: 10px; 
    }
    &__info{
        display: flex;
        margin-bottom: 25px;
    }
    &__info-link{
        margin-right: 30px;
        padding-left: 28px;
        position: relative;
        &:focus{
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
            outline: 0;
            border-radius: 10px; 
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: url("../images/blog/calendar.svg");
            width: 16px;
            height: 16px;
        }
    }
    &__info-link--comments::before{
        background-image: url("../images/blog/comment.svg");
        top: 3px;
    }
    &__info-link--author::before{
        background-image: url("../images/blog/User.svg");
    }
    &__form__title{
        text-transform: uppercase;
        margin: 35px 0 25px;
        color: $title;
        @extend %roboto-700;
        font-size: 24px;
    }
    .comments-form{
        border-bottom: none;
    }
    &__box{
        margin: 25px 0 35px;
        display: flex;
        justify-content: space-between;

    }
    &__tags,
    &__share{
        span{
            text-transform: uppercase;
            color: $title;
            @extend %roboto-700;
           
        }
    }
    &__tags{
        a{
            padding: 3px;       
            &:focus{
                background-color: #f9fafb;
                border-color: #f9fafb;
                box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
                outline: 0;
                border-radius: 10px; 
            }
        }
    }
    &__share{
        a{
            margin-right: 5px;
            padding: 9px 3px;
            vertical-align: middle;
            transition: all .3s;
            &:hover{
                path{
                    fill: $accent;
                }
            }
            path{
                fill: #727272;
            }
            &:focus{
                background-color: #f9fafb;
                border-color: #f9fafb;
                box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
                outline: 0;
                border-radius: 10px; 
            }
        }
    }
    &__author{
        border-bottom: 1px solid #ececec;
        padding-bottom: 40px;
        margin-bottom: 40px;
        display: flex;
    }
    &__author-img{
        max-width: 140px;
        margin-right: 30px;
        object-fit: cover;
    }
    &__author-name{
        @extend %roboto-700;
        margin-bottom: 24px;
        font-size: 22px;
        color: $title;
    }
    .comments-title{
        margin-bottom: 25px;
        color: $title;
        font-size: 24px;
        @extend %roboto-700;
        text-transform: uppercase;
    }
}

@media(max-width: 620px){
    .blog-one{
        &__text{
            padding: 20px 10px;
        }
        &__info{
            display: block;
        }
        &__info-item{
            margin-bottom: 10px;
        }
        .comments-form{
            padding-bottom: 20px;
        }
        &__box{
            flex-wrap: wrap;
            padding-right: 10px;
        }
    }
    .comments-form{
        &__box-input{
            display: block;
            margin-bottom: 0;
        }
        &__text-input{
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 450px){
    .blog-one{
        &__box{
            display: block;
        }
        &__author-img{
            display: none;
        }
        &__text{
            blockquote{
                padding: 10px;
            }
        }
    }
    .comments{
        &__img{
            display: none;
        }
    }
}