.filter-popular {
    &__label {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 8px;
        cursor: pointer;
        padding: 10px 0;

        &:focus {
            outline: 1px solid $accent;
            padding: 5px;
        }
    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-popular__checkbox {
            background-color: $accent;
            border-color: $accent;
            color: #fff;
        }

        &:focus+.filter-popular__checkbox {
            box-shadow: 0px 0px 9px 0px rgba(90, 90, 90, 1.0);
        }
    }

    &__checkbox {
        border: 1px solid $default;
        padding: 10px 20px;
    }
}



.blog-page {
    &__item--slider {
        .blog-page__item-box {
            margin-top: -8px;
        }
    }

    &__slider {

        .slick-next,
        .slick-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            width: 40px;
            height: 40px;
            background-color: $accent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

            path {
                fill: #fff;
            }
        }

        .slick-disabled {
            background-color: #fff;

            path {
                fill: $accent;
            }
        }

        .slick-next {
            right: 40px;
        }

        .slick-prev {
            left: 40px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 770px;
        margin-right: 30px;
    }

    &__aside {
        width: 370px;
    }

    &__item {
        margin-bottom: 60px;

        &.blog-page__item--no-image {
            border-top: 1px solid #ececec;
            box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
        }
    }

    &__item-link {}

    &__img {
        max-width: 770px;
        height: 450px;
        object-fit: cover;
        display: block;
    }

    &__item-box {
        border: 1px solid #ececec;
        border-top: none;
        padding: 40px;
    }

    &__item-title {
        display: block;
        color: #29282d;
        font-size: 22px;
        @extend %roboto-700;
        margin-bottom: 20px;
        line-height: 32px;
        transition: all .3s;

        &:hover {
            color: $accent;
        }

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
            outline: 0;
        }
    }

    .blog-box {
        justify-content: start;

        &__author {
            margin-right: 30px;
        }
    }

}


@media(max-width: 1230px) {
    .latest-post {
        display: none;
    }

    .blog-page {

        .filter-category,
        .filter-popular {
            display: none;
        }

        &__inner {
            flex-direction: column;
        }

        &__content {
            width: 100%;
            margin-right: 0;
        }

        &__aside {
            order: -1;
            width: 100%;
        }

        &__img {
            max-width: 100%;
            width: 100%;
        }
    }

    .filter-search {
        &__input {
            width: 100%;
        }
    }

}

@media(max-width: 620px) {
    .top {
        padding-bottom: 60px;
    }

    .blog-page {
        &__item-box {
            padding: 20px;
        }

        &__img {
            height: 260px;
        }
    }
}

@media(max-width: 375px) {
    .blog-page {
        &__item-box {
            padding: 10px 5px;
        }

        &__slider {
            .slick-next {
                right: 10px;
            }

            .slick-prev {
                left: 10px;
            }
        }

        &__img {
            height: 170px;
        }
    }

    .filter__item {
        padding: 25px 12px;
    }
}