/* stylelint-disable */

.burger{ 
    --burger-width: 30px;
    --burger-height: 30px;
    --burger-line-height: 2px;
  
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
   }
    .burger::before,
    .burger::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--burger-line-height);
      background-color:rgb(23, 26, 28);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  
    .burger::before {
      top: 0;
    }
  
    .burger::after {
      top: calc(100% - var(--burger-line-height));
    }
  
    .burger__line {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: var(--burger-line-height);
      background-color: rgb(23, 26, 28);
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
    }
  
  
      .burger--active::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }
  
      .burger--active::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }
  
      .burger--active .burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    
  
  