.categories-info {
    padding: 120px 0;
    background-image: url('../images/decor/categories-left-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    background-size: initial;

    &__inner {
        background-image: url('../images/decor/categories-right-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        background-size: initial;
    }
}


.info {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 103px;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
    }

    &::before {
        top: -40px;
        left: -33px;
        background-image: url('../images/decor/info-before-bg.svg');
        background-size: 120px 121px;
        width: 120px;
        height: 121px;
    }

    &::after {
        bottom: -20px;
        right: -4px;
        background-image: url('../images/decor/info-after-bg.svg');
        background-size: 65px 52px;
        width: 65px;
        height: 52px;
    }

    &__item {
        position: relative;
        background-color: #fff;
        padding: 60px 30px;
        max-width: 370px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

        &::before {
            position: absolute;
            content: "";
            width: 60px;
            height: 60px;
        }

        &_shipping::before {
            background-image: url("../images/categories/Shipping.svg");
        }

        &_return::before {
            background-image: url("../images/categories/Return.svg");
        }

        &_support::before {
            background-image: url("../images/categories/Support.svg");
        }

    }

    &__item-title {
        margin: 94px 0 15px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }

    &__item-text {
        line-height: 1.5;
    }

}



.categories {
    &__items {
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        max-width: 570px;
        margin: 0 auto 55px;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 35px;
        padding-left: 40px;

        &:nth-child(1) {
            grid-row: 1 / span 2;

            .categories__item-subtitle,
            .categories__link:hover {
                color: #5800e4;
                border-color: #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: 2 / span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;

            .categories__link {
                width: max-content;
            }

            .categories__item-subtitle,
            .categories__link:hover {
                color: $accent;
                border-color: $accent;

            }
        }

        &:nth-child(3) {

            .categories__item-subtitle,
            .categories__link:hover {
                color: #ffb534;
                border-color: #ffb534;
            }
        }

        &:nth-child(4) {

            .categories__item-subtitle,
            .categories__link:hover {
                color: #34c3ff;
                border-color: #34c3ff;
            }
        }
    }

    &__item-subtitle {
        margin-bottom: 5px;
    }

    &__item-title {
        font-size: 22px;
        color: $title;
        margin-bottom: 16px;
    }

    &__link {
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
        transition: all .3s;
        padding: 3px 5px 3px 0px;
        cursor: pointer;
        border-bottom: 1px solid transparent;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
            outline: 0;
            border-radius: 10px;
        }
    }
}


@media(max-width: 1230px) {
    .info {
        &::after {
            right: 0;
        }

        &__item {
            width: 340px;
            padding: 20px;
        }
    }
}

@media(max-width: 1100px) {
    .categories-info {
        padding: 50px 0;
    }

    .info {
        &__item {
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
        }
    }

    .categories {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }

        &__item {
            background-position: center top;

            &:nth-child(1) {
                grid-row: auto;
            }

            &:nth-child(2) {
                grid-column: auto;
                background-position: center right;
            }
        }
    }
}

@media(max-width: 768px) {
    .categories {
        &__items {
            min-height: 385px;
        }

        &__item {
            background-image: none !important;
            justify-content: center;
            padding-left: 15px;
            padding-top: 0;
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                background-color: #efdef0;
            }

            &:nth-child(2) {
                background-color: #deeeee;
            }

            &:nth-child(3) {
                background-color: #fef7a9;
            }

            &:nth-child(4) {
                background-color: #ececec;
            }
        }
    }
}

@media(max-width: 620px) {
    .categories {
        grid-gap: 10px;

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 15px 10px;
        }
    }

    .categories-info {
        padding: 60px 0 60px;
    }

    .info {
        margin-bottom: 55px;
    }
}


@media(max-width: 375px) {
    .info {
        &__item-title {
            font-size: 20px;
        }
    }
}