.top {
    margin-bottom: 112px;

    // height: 370px;
    &-container {
        max-width: 1700px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #eeebec;
        text-align: center;
        padding: 124px 0 148px;

    }

    &__title {
        margin-bottom: 13px;
    }
}

.contact {
    padding-bottom: 120px;

    &__inner {
        display: flex;
    }

    &__info {
        max-width: 370px;
        margin-right: 30px;
    }

    &__info-title {
        @extend %roboto-700;
        font-size: 48px;
        color: $title;
        margin-bottom: 20px;
    }

    &__info-text {
        margin-bottom: 60px;
    }

    &__info-item {
        margin-top: 55px;
        color: $title;
        padding-left: 80px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -5px;
            width: 60px;
            height: 60px;
            box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);

        }

        &::after {
            content: '';
            position: absolute;
            left: 20px;
            top: 15px;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-image: url('../images/connect/phone.svg');
        }
    }

    &__info-item--location::after {
        width: 14px;
        height: 23px;
        background-repeat: no-repeat;
        background-image: url('../images/connect/location.svg');

    }

    &__info-item--email::after {
        width: 18px;
        height: 21px;
        background-repeat: no-repeat;
        background-image: url('../images/connect/Shape\ 1.svg');

    }

    &__info-phone {
        width: 100%;
        display: inline-block;
        color: $title;
        padding: 3px;

        &:focus {
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
            outline: 0;
            border-radius: 10px;
        }
    }

    &__form {
        width: 770px;
        padding: 60px 40px;
        box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
    }

    &__form-title {
        font-size: 22px;
        margin-bottom: 20px;
        @extend %roboto-700;
        color: $title;
    }

    &__form-input {
        width: 100%;
        display: block;
        height: 60px;
        background-color: $bg;
        border: none;
        padding: 0 24px;
        margin-bottom: 30px;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
            outline: 0;
        }
    }

    &__form-textarea {
        width: 100%;
        display: block;
        resize: none;
        height: 200px;
        background-color: $bg;
        border: none;
        padding: 24px;
        margin-bottom: 30px;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
            outline: 0;
        }
    }

    &__form-box {
        display: flex;
        justify-content: space-between;

        input {
            width: 330px;
        }
    }

    &__form-btn {
        border: none;

        // @extend %btn;
        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
            outline: 0;
        }
    }
}


@media(max-width: 1100px) {
    .contact {
        &__inner {
            display: block;
        }

        &__info {
            margin-right: 0;
            max-width: 100%;
            margin-bottom: 30px;
        }

        &__form {
            box-shadow: none;
            padding: 0;
            width: 100%;
        }

        &__form-box {
            display: block;

            input {
                width: 100%;
            }
        }

    }
}

@media(max-width: 450px) {
    .top {
        padding-bottom: 0;
    }

    .map {
        padding: 60px 0;
    }

    #map {
        height: 250px;
    }

    .contact {
        &__info-title {
            font-size: 28px;
            line-height: 34px;
        }
    }
}

@media(max-width: 375px) {
    .contact {
        &__info-item {
            padding-left: 55px;

            &::before {
                top: 1px;
                width: 50px;
                height: 50px;
            }

            &::after {
                top: 16px;
                left: 16px;
            }
        }
    }
}