 body{
     font-size: 1rem;
     line-height: 1.2;
     color: $default;
     @extend %quicksand-500;
 }

 .parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
 }
 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
 }

 .a{
    font-size: 1rem;
    line-height: 1.2;
    color: $default;
    @extend %quicksand-500;
 }

 .title{
   text-align: center;
   @extend %roboto-700;
   font-size: 48px;
   line-height: 65px;
   color: $title;
   margin-bottom: 10px;
   text-transform: uppercase;
 }

 .text{
   text-align: center;
   min-width: 570px;
   margin: 0 auto 55px;
 }