 body{
     font-size: 1rem;
     line-height: 1.2;
     color: $default;
     @extend %quicksand-500;
 }

 .parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
 }
 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
 }

 .a{
    font-size: 1rem;
    line-height: 1.2;
    color: $default;
    @extend %quicksand-500;
 }