.modal {
    max-width: 570px;
    margin: 0 auto 155px;

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    &__link {
        padding: 5px;
        color: #909090;
        font-size: 22px;
        @extend %roboto-400;
        text-transform: uppercase;
        margin: 0 25px;

        &:focus {
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
            outline: 0;
            border-radius: 10px;
        }
    }

    &__link--active {
        color: $accent;
    }

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        border: none;
        background-color: $bg;
        margin-top: 4px;
        height: 60px;
        padding: 0 15px;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
            outline: 0;
        }
    }

    &__btn {
        display: block;
        background-color: $title;
        text-transform: uppercase;
        color: #fff;
        @extend %roboto-400;
        padding: 14px 0;
        border: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 12px;

        &:focus {
            color: #fff;
            background-color: #1c1f23;
            border-color: #1a1e21;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, .5);
        }
    }

    &__error {
        color: $accent;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
            outline: 0;
        }
    }

    &__text {
        margin-bottom: 25px;
    }
}

@media(max-width: 375px) {
    .modal__link {
        margin: 0 20px;
    }
}