@media (max-width: 1200px){
    .header{
        padding: 40px 0;
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 860px){
    .menu {
        margin-left: 40px;
        order: 1;
        &__list{
            transform: translateY(-200%);
            position: absolute;
            top: 120px;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            transition: all .3s;
            background-color: #fff;
            &.menu__list--active{
                transform: translateY(0%);
                transition: all .3s;
            }
        }
        .menu__btn--active span:nth-of-type(1) {
            width: 0;
          }
          .menu__btn--active span:nth-of-type(2) {
            top: 50%;
            transform: rotate(45deg);  
          }
          .menu__btn--active span:nth-of-type(3) {
            top: 50%;
            transform: rotate(-45deg); 
          }
        &__list-item + .menu__list-item{
            padding-left: 15px;
        }
        &__list-item{
            width: 100%;
            padding: 0 15px;
            text-align: center;
        }
        &__list-link{
            display: block;
            padding: 12px 0;
        }
        &__btn{
            display: block;
            width: 28px;
            height: 22px;
            border: none;
            padding: 0; 
            top: 50px;
            right: 7px;
            z-index: 2;
            position: fixed;
            background-color: transparent;
        }
        &__btn span {
            position: absolute;
            width: 28px;
            height: 2px;
            top: 0px;
            left: 0;
            background-color: $title;
            transition: all 0.5s;
        }
        &__btn span:nth-of-type(2) {
            top: 10px;
        }
        &__btn span:nth-of-type(3) {
            top: 20px;
        }
    }


    .user-nav{
        margin-left: auto;
    }
}

@media (max-width: 600px){
    .header{
        &__inner{
            padding-right: 0;
        }
    }
    .menu{
        order: 0;
        &__list{
            top: 140px;
        }
    }
    .user-nav{
        width: 100%;
        margin-top: 35px;
        justify-content: flex-end;
        padding-right: 15px;
    }
}