@media(max-width: 1050px){
    .footer{
        .footer-top{
            flex-wrap: wrap;
            &__item-form{
                max-width: 100%;
                margin-top: 30px;
            }
        }
    }
   
}

@media(max-width: 860px){
    .footer{
        .footer-top{
            &__contact{
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
                max-width: 225px;
            }
        }
    }
    
}

@media(max-width: 620px){
    .footer{
        .footer-bottom{
            justify-content: center;
            &__copy{
                text-align: center;
                width: 100%;
            }
          
        }
        .footer-top{
            &__item-form{
                margin: 0 20px 0 20px;
            }
        }
    }
}

@media(max-width: 450px){
    .footer{
        .footer-top{
            justify-content: center;
            padding: 40px 20px 40px;
            &__nav{
                margin-top: 30px;
            }
            &__form{
                flex-wrap: wrap;
            }
            &__form-input{
                max-width: 100%;
                margin-right: 0;
            }
            &__form-btn{
                width: 100%;
            }
        }
        .footer-bottom{
            &__accept-img{
                margin-left: 15px;
            }
        }
    }
   
}