@media(max-width: 1230px){
    .person,
    .latest-post{
        display: none;
    }
    .blog-page{
        .filter-category,
        .filter-popular{
            display: none;
        }
        &__inner{
            flex-direction: column;
        }
        &__content{
            width: 100%;
            margin-right: 0;        
        }
        &__aside{
            order: -1;
            width: 100%;
        }
        &__img{
            max-width: 100%;
            width: 100%;
        }
    }
    .filter-search{
       &__input{
        width: 100%;
       } 
    }
   
}

@media(max-width: 620px){
    .top{
        padding-bottom: 60px;
    }
    .blog-page{
        &__item-box{
            padding: 20px;
        }
        &__img{
            height: 260px;
        }
    }
}

@media(max-width: 375px){
    .blog-page{
        &__item-box{
            padding: 10px 5px;
        }
        &__slider{
            .slick-next{
                right: 10px;
            }
            .slick-prev{
                left: 10px;
            }
        }
        &__img{
            height: 170px;
        }
    }
    .filter__item{
        padding: 25px 12px;
    }
}