@media(max-width: 620px){
    .promo{
        padding: 60px 0;
        &__clock{
            justify-content: center;
            flex-wrap: wrap;
        }
        &__clock-item{
            margin: 20px 35px;
        }
    }
    .partners{
        padding: 60px 0;
        &__list{
          gap: 45px;    
        }
        &__item{
            margin: 10px 35px;
        }
    }
}

@media(max-width: 450px){
    .promo{
        &__clock{
            margin-top: 30px;
        }
        &__clock-item{
            margin: 8px;
        }
        &__link{
            margin-top: 30px;
        }
    }
    .partners{
        padding: 30px 0;
        &__item{
            margin: 10px 25px;
        }
    }
}