@media(max-width: 620px){
    .blog-one{
        &__text{
            padding: 20px 10px;
        }
        &__info{
            display: block;
        }
        &__info-item{
            margin-bottom: 10px;
        }
        .comments-form{
            padding-bottom: 20px;
        }
        &__box{
            flex-wrap: wrap;
            padding-right: 10px;
        }
    }
    .comments-form{
        &__box-input{
            display: block;
            margin-bottom: 0;
        }
        &__text-input{
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 450px){
    .blog-one{
        &__box{
            display: block;
        }
        &__author-img{
            display: none;
        }
        &__text{
            blockquote{
                padding: 10px;
            }
        }
    }
    .comments{
        &__img{
            display: none;
        }
    }
}