@media(max-width: 1230px){
    .shop{
        &__inner{
            display: block;
        }
        &__filters{
            width: 100%;
            margin-right: 0;
            display: none;
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 100;
            background: #fff;
        }
        &__filter-btn{
            display: block;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 60px;
            height: 60px;
            position: fixed;
            right: 0;
            z-index: 101;
            bottom: 50px;
            img{
                position: absolute;
                width: 40px;
                height: 40px;
                top: 12px;
                left: 11px;
            }
        }
    }
    .shop-content{
        &__inner{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
        &__nogrid{
            display: flex;
        }
    }
}

@media(max-width: 860px){
    .shop-content{
        &__inner{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media(max-width: 700px){
    .shop-content{
        &__filter-buttons{
            display: none;
        }
        &__filter{
            padding: 20px 25px 20px 0;
        }
    }
}

@media(max-width: 620px){
    .shop-content{
        &__inner{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media(max-width: 500px){
    .shop-content__inner{
        .product-item{
            display: block;
        }
    }
}

@media(max-width: 450px){
    .pagination{
        &__arrows{
            display: none;
        }
    }

}