@media(max-width: 1050px){
    .product-item{
        &__img-box{
            height: 305px;
        }
    }
}

@media(max-width: 860px){
    .product{
        padding: 60px 0;
       &__items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-items: center;
       }
    }
}

@media(max-width: 620px){
    .product{
      
       &__items{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
       }
       .product-item{
        &__images{
            width: 100%;
        }
       }
    }
}