@media(max-width: 1050px){
    .video-fashion{
        &__inner{
            display: block;
        }
        &__popup{
            max-width: 100%;
            background-position: center top;
        }
        &_content{
            max-width: 100%;
        }
    }
}

@media(max-width: 620px){
    .video-fashion{
        padding: 60px 0;
        &__popup{
            height: 270px;
        }
        &__suptitle{
            padding-top: 40px;
            font-size: 18px;
        }
    }
}