@media(max-width: 1230px){
    .info{
        &::after{
            right: 0;
        }
        &__item{
            width: 340px;
            padding: 20px;
        }
    }
}

@media(max-width: 1100px){
    .categories-info{
        padding: 50px 0;
    }
    .info{
        &__item{
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
    .categories{
        &__items{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
        &__item{
            background-position: center top;
            &:nth-child(1){
                grid-row: auto;
            }
            &:nth-child(2){
                grid-column: auto;
                background-position: center right;
            }
        }
    }
}

@media(max-width: 768px){
   .categories{
    &__items{
        min-height: 385px;
    }
    &__item{
        background-image: none !important;
        justify-content: center;
        padding-left: 15px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        &:nth-child(1){
            background-color: #efdef0;
        }
        &:nth-child(2){
            background-color: #deeeee;
        }
        &:nth-child(3){
            background-color: #fef7a9;
        }
        &:nth-child(4){
            background-color: #ececec;
        }
    }
   }
}
@media(max-width: 620px){
    .categories{
        grid-gap: 10px;
        &__items{
            grid-template-columns: repeat(1, 1fr);
        }
        &__item{
            padding: 15px 10px;
        }
    }  
    .categories-info{
        padding: 60px 0 60px;
    }  
    .info{
        margin-bottom: 55px;
    }
}


@media(max-width: 375px){
    .info{
        &__item-title{
            font-size: 20px;
        }
    }
}