@media(max-width: 1230px){
    .blog{
       &__items{
        &::after{
            right: 8px;
        }
       } 
    }
}

@media(max-width: 1200px){
    .blog{
        &::after{
            display: none;
        }
       &__item-box{
        padding: 20px 15px;
       }
    }
}


@media(max-width: 768px){
    .blog{
        padding: 60px 0;
        &__items{
            &::after{
                display: none;
            }
           } 
     }
}

@media(max-width: 375px){
    .blog-box{
        display: block;
        &__data{
            margin-top: 10px;
        }
    }
    .blog{
        &__item-imglink{
            img{
                height: 220px;
            }
        }
    }
}