.top-slider {
    background-image: url('../images/decor/top-slider-bg.svg');
    background-repeat: no-repeat;
    background-color: $bg;

    &__content {
        padding-left: 364px;
        padding-top: 160px;
    }

    &__item {
        position: relative;
        min-height: 676px;

    }

    &__images {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__img {
        position: absolute;
        object-fit: contain;
        bottom: 0;
        width: 650px;
        height: 630px;
        right: 222px;
    }

    &__title {
        max-width: 670px;
        font-size: 58px;
        line-height: 1.2;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 22px;
    }

    &__text {
        max-width: 470px;
        line-height: 1.4;
        margin-bottom: 60px;
    }

    &__link {
        position: absolute;
        z-index: 2;
    }

    .slick-dots {
        position: absolute;
        bottom: 43px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;

        // margin-top: -70px;
        li {
            margin: 0 5px;
            line-height: 0;

            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;

                &:focus {
                    border-color: #b02a37;
                    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
                    outline: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

@media (max-width: 1915px) {
    .top-slider__img {
        right: calc(222px - (1915px - 100vw));
    }

    .top-slider__content {
        padding-left: calc(364px - (1915px - 100vw));
    }
}

@media (max-width: 1700px) {
    .top {
        margin-bottom: calc(100vw * 0.066);
    }

    .top-container {
        padding: calc(100vw * 0.073) 0 calc(100vw * 0.087);
    }

    .top-slider__img {
        right: 0;
    }
}

@media (max-width: 1570px) {
    .top-slider__content {
        padding-left: 20px;
    }
}

@media(max-width: 1200px) {
    .top-slider {

        &__item {
            min-height: 450px;
        }

        &__content {
            padding-top: 0;
            padding-left: 20px;
            padding-bottom: 50px;
        }

        &__img {
            margin: 0 auto;
            width: 470px;
            height: auto;
        }

        &__title {
            font-size: 40px;
            margin-bottom: 23px;
        }
    }
}

@media(max-width: 900px) {
    .top-slider {
        &__item {
            min-height: 320px;
        }

        &__img {
            width: 300px;
        }

        .slick-dots {
            margin-top: 0;
        }
    }
}

@media(max-width: 768px) {
    .top-slider {
        &__images {
            display: none;
        }

        .slick-dots {
            bottom: 15px;
        }

        &__title {
            font-size: 35px;
            margin-bottom: 17px;
        }

        &__text {
            max-width: 430px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 650px) {
    .top-slider {
        padding: 15px 0 15px;

        &__title {
            font-size: 32px;
            line-height: 37px;
            margin-bottom: 13px;
        }

        &__images {
            display: none;
        }

        &__text {
            margin-bottom: 20px;
        }
    }
}

// @media(max-width: 415px) {
//     .top-slider {
//         &__title {
//             font-size: 32px;
//             line-height: 37px;
//             margin-bottom: 13px;
//         }

//         &__text {
//             margin-bottom: 20px;
//         }
//     }
// }

//------------------------------------