.video-fashion {
    background-color: $bg;
    background-image: url('../images/decor/pattern.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 725px;
    padding-top: 125px;

    &__inner {
        display: flex;
    }

    &__popup {
        margin-right: 76px;
        max-width: 530px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-bottom: 75px;
    }

    &__content {
        max-width: 570px;
        padding: 75px 20px 30px;
    }

    &__suptitle {
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__title {
        text-align: left;
        margin-bottom: 21px;
    }

    &__text {
        margin-bottom: 55px;
        line-height: 1.5;
    }

    &__link {
        @extend %btn;

        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
            outline: 0;

        }
    }

    &__play {
        &:focus {
            border-color: #b02a37;
            box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
            outline: 0;
            border-radius: 10px;
        }
    }
}


@media(max-width: 1050px) {
    .video-fashion {
        &__inner {
            display: block;
        }

        &__popup {
            max-width: 100%;
            background-position: center top;
        }

        &__content {
            padding: 0px 20px 30px;
        }
    }
}

@media(max-width: 620px) {
    .video-fashion {
        padding: 60px 0;

        &__popup {
            height: 270px;
            margin-bottom: 20px;
        }

        &__suptitle {
            padding-top: 40px;
            font-size: 18px;
        }
    }
}