.blog {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        background-image: url(../images/blog/decor.svg), url(../images/blog/decor2.svg), url(../images/blog/decor3.svg);
        background-position: right 349px top 258px, left 119px top 472px, right 172px top 773px;
        background-repeat: no-repeat, no-repeat;
    }

    &__title {
        margin-bottom: 5px;
    }


    &__text {
        max-width: 590px;
        margin: 0 auto 57px;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
    }

    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all .3s;

        &:hover {
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            border: none;

            .blog__item-link {
                color: $accent;

                &::after {
                    background-image: url('../images/blog/arrowred.svg');
                }
            }
        }
    }

    &__item-imglink {
        display: block;
        max-width: 368px;

        &:focus {
            @include red-focus;
        }

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__item-box {
        padding: 30px 35px;
    }

    &__item-titlelink {
        display: block;
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 3px 5px;

        &:focus {
            @include white-focus;
        }
    }

    &__item-link {
        position: relative;
        transition: all .3s;
        padding: 3px;

        &:focus {
            @include white-focus;
        }
    }

    &__item-link::after {
        content: "";
        width: 10px;
        height: 8px;
        background-image: url(../images/blog/arrow.svg);
        position: absolute;
        background-size: 10px 8px;
        top: 10px;
        right: -18px;
    }

}


.blog-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__author,
    &__data {
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
        }

        &:focus {
            @include white-focus;
        }
    }

    &__author::before {
        background-image: url('../images/blog/users.svg');
    }

    &__data::before {
        background-image: url('../images/blog/time.svg');
    }
}

@media(max-width: 1230px) {
    .blog {
        &__items {
            &::after {
                right: 8px;
            }
        }
    }
}

@media(max-width: 1200px) {
    .blog {
        &::after {
            display: none;
        }

        &__item-box {
            padding: 20px 15px;
        }
    }
}


@media(max-width: 768px) {
    .blog {
        padding: 60px 0;

        &__items {
            &::after {
                display: none;
            }
        }
    }
}

@media(max-width: 375px) {
    .blog-box {
        display: block;

        &__data {
            margin-top: 10px;
        }
    }

    .blog {
        &__item-imglink {
            img {
                height: 220px;
            }
        }
    }
}