 body {
    font-size: 1rem;
    line-height: 1.2;
    color: $default;
    @extend %quicksand-500;
 }

 .main {
    margin-bottom: 160px;
 }

 section:not(:last-child) {
    margin-bottom: 120px;
 }

 .parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1945px;
    margin: 0 auto;
    padding: 45px 15px 0px;
 }

 .container {
    max-width: 1200px;
    margin: 0 auto;
 }

 a {
    font-size: 1rem;
    line-height: 1.2;
    color: $default;
    @extend %quicksand-500;
 }

 address {
    font-style: normal;
 }

 .title {
    text-align: center;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 65px;
    color: $title;
    text-transform: uppercase;
 }

 .text {
    text-align: center;
    line-height: 1.5;

 }

 .overflow-hidden {
    overflow-y: hidden;
 }

 .bleadcrumbs {
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    right: -27px;
    position: relative;
    flex-wrap: wrap;

    &::before {
       content: '';
       position: absolute;
       background-image: url('../images/icons/home_icon.svg');
       width: 16px;
       height: 16px;
       left: 0;
       top: 2px;
    }

    &__list {
       display: flex;
    }

    &__item {
       color: #727272;
       padding-right: 40px;
       position: relative;

       &::after {
          content: '';
          position: absolute;
          background-image: url('../images/icons/angle_right.svg');
          width: 9px;
          height: 10px;
          right: 15px;
          top: 7px;

       }

       &:last-child {
          color: $accent;

          &::after {
             display: none;
          }
       }
    }

    &__link {
       color: inherit;
       padding: 3px 5px;

       &:focus {
          border-color: #f9fafb;
          box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, .5);
          outline: 0;
          border-radius: 10px;
       }
    }

 }

 .button {
    min-width: 160px;
    padding: 15px 5px;
    text-align: center;
    background-color: $accent;
    border: 1px solid transparent;
    text-transform: uppercase;
    @extend %roboto-400;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
    display: inline-block;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;

    &:focus,
    &:hover {
       border-color: #f9fafb;
       box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
    }
 }

 .button-transparent {
    color: $title;
    min-width: 168px;
    letter-spacing: 4px;
    padding: 14px 5px;
    display: block;
    box-shadow: none;
    border: 1px solid $accent;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus,
    &:hover {
       border-color: #b02a37;
       box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, .5);
    }
 }

 .hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
 }

 .header--404-page {
    background-color: $bg;
 }


 @media(max-width: 768px) {
    section:not(:last-child) {
       margin-bottom: 40px;
    }

    .main {
       margin-bottom: 40px;
    }

    .title {
       font-size: 32px;
       line-height: 40px;
    }
 }