.product {

    &__inner {
        margin: 0 auto;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 3px;
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        max-width: 610px;
        margin: 0 auto 57px;
        // line-height: 1.5;
    }

    &__link {
        color: $title;
        min-width: 168px;
        letter-spacing: 4px;
        display: block;
        box-shadow: none;
        border: 1px solid $accent;
        margin: 0 auto;
        background-color: transparent;

        &:focus {
            border-color: #b02a37;
        }
    }

}



.product-item {
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
    position: relative;

    &.product-item--list {
        min-width: 100%;
        display: flex;
        text-align: left;

        &:hover {
            .product-item__link-box {
                transform: translateY(-280%);
            }
        }

        .product-item__img-box {

            display: block;
            // height: 250px;
            min-width: 200px;
            margin-bottom: 0;

            img {
                height: 250px;
            }
        }

        .product-item__text {
            margin-bottom: 25px;
        }

        .product-item__btn {
            color: #fff;
            padding: 11px 40px;
            background-color: $title;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $accent;
                box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
            }
        }

        .product-item__link-box {
            background-color: transparent;
            width: auto;
            box-shadow: none;
            bottom: auto;

            .product-item__link {
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .product-item__link--line {
                display: none;
            }
        }

        .product-item__content-box {
            display: block;
        }

        .product-item__title {
            order: -1;
            width: 100%;
            font-size: 22px;
        }

        .product-item__price {
            order: -1;
            margin-left: -12px;
            padding: 0;
            margin-bottom: 10px;
        }

        .star {
            margin-left: 23px;
        }

        .product-item__box {
            display: flex;
            flex-wrap: wrap;
        }

        .product-item__wrapper-box {
            padding: 30px 40px;
            border: 1px solid #ececec;
            border-left: none;
        }
    }

    &__content-box {
        display: none;
    }

    &__img-box {
        // height: 370px;
        margin-bottom: 29px;
        display: block;

        a:focus {
            display: block;
            border: 2px solid red;
        }

    }

    &__link-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 155px;
        background-color: #fff;
        width: 220px;
        height: 50px;
        margin: 0 auto;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: opacity 0.3s;
        opacity: 0;
    }

    .line::before,
    .line::after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 30px;
        width: 1px;
        background-color: #ececec;
        top: 10px;
    }

    .line::before {
        left: 70px;
    }

    .line::after {
        right: 69px;
    }

    &__link {
        display: inherit;
        padding: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            @include white-focus;
        }

        path {
            transition: all .3s;
        }
    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &__images {
        object-fit: cover;
    }

    &:hover {
        .product-item__link-box {
            opacity: 1;
        }
    }

    &__title {
        color: $title;
        font-size: 22px;
        display: inline-block;
        @extend %roboto-400;
        margin-bottom: 12px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    &__price {
        display: flex;
        justify-content: center;
        @extend %roboto-400;
    }

    &__new-price {
        padding: 0 12px;
        color: $title;
    }

    &__old-price {
        padding: 0 12px;
        text-decoration: line-through;
    }

    &--sale {
        .product-item__img-box::before {
            content: 'SALE';
            @extend %sale;
            position: absolute;
            top: 25px;
            left: 25px;
            line-height: 1;
        }
    }
}

.star {
    margin: 0 auto 15px;
}


// @media(max-width: 1050px) {
//     .product-item {
//         &__img-box {
//             height: 305px;
//         }
//     }
// }

@media(max-width: 860px) {
    .product {
        padding: 60px 0;

        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            justify-items: center;
        }
    }
}

@media(max-width: 620px) {
    .product {

        &__items {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }

        .product-item {
            &__images {
                width: 100%;
            }
        }
    }
}