@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $title;
        text-transform: uppercase;
        padding-bottom: 1px;
        transition: all .3s;
        @extend %quicksand-400;
    &:hover{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-500;
        }
    }
    &__list-link--active{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-500;
    }
}

.user-nav{
        display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 25px;
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 20px;
    }
}





.footer{
    background-color: $bg;

}
.footer-top{
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 170px;
        margin-right: 30px;
    }
    &__item-form{
        max-width: 470px;
    }
    &__logo{
        margin-bottom: 32px;
    }
    &__adress,
    &__email,
    &__phone{
        line-height: 36px;
        margin-bottom: 10px;
    }
    &__title{
        margin-bottom: 40px;
    }
}








@import 'media';
  