@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';
@import 'burger';


@import 'header';
@import 'top-slider';
@import 'header';
@import 'menu';
@import '_404';

// .jq-selectbox__select {
//     @extend %quicksand-500;
//     height: 32px;
//     padding: 0 30px 0 0;
//     border: none;
//     background: transparent;
//     box-shadow: none;
//     color: $default;
//     text-shadow: none;
//     &:hover{
//         background: transparent;
//     }
// }

// .jq-selectbox__trigger{
//     border-left: none;
// }

// .jq-selectbox__trigger-arrow {
//     position: absolute;
//     top: 8px;
//     right: 12px;
//     width: 10px;
//     height: 5px;
//     border: none;
//     background-image: url('../images/icons/angle_down.svg');
// }



@import 'latest-post';

@import 'blog-one';
@import 'person';

@import 'map';
@import 'contact';

@import 'header';
@import 'footer';
@import 'top-slider';
@import 'categories';
@import 'video-fashion';
@import 'product';
@import 'promo';
@import 'blog-page';
@import 'blog';
@import 'login';
// @import 'media_blog-one';
// @import 'media_contact';
@import 'shop';
@import 'product-page';